.u-section-1 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 849px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  margin: 179px 107px 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 107px 205px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 105px;
    margin-right: 105px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 341px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 665px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 605px;
}

.u-section-2 .u-container-layout-1 {
  padding: 12px 30px 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 605px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 378px;
  height: 378px;
  background-image: url("images/Eniac.jpg");
  background-position: 50% 50%;
  margin: 139px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 499px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 499px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 685px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-top: 18px;
    margin-left: -30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 500px;
    height: 500px;
    margin-top: 139px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 320px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 992px;
}

.u-section-3 .u-image-1 {
  width: 646px;
  height: 754px;
  margin: 145px 0 0 auto;
}

.u-section-3 .u-list-1 {
  width: 613px;
  grid-auto-rows: 100%;
  margin: -747px auto 60px 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 22px 22px;
  min-height: 593px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 3px;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 3px;
  margin: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-text-5 {
  font-size: 2.25rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 3px;
  margin: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-3 .u-image-1 {
    width: 687px;
    height: 829px;
    margin-top: 60px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    width: 505px;
    margin-top: -748px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1585px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 35px;
    margin-right: auto;
    margin-left: 17px;
  }

  .u-section-3 .u-list-1 {
    width: 621px;
    margin-top: -100px;
    margin-bottom: 19px;
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1453px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 652px;
    margin-top: 60px;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    width: 495px;
    margin-top: -43px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1483px;
  }

  .u-section-3 .u-image-1 {
    width: 440px;
    height: 621px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-3 .u-list-1 {
    width: 323px;
    margin-top: -124px;
    margin-left: 8px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 557px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px 0 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 823px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  line-height: 1;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 60px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 823px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 538px;
  height: 538px;
  background-image: url("images/quantum_computing.jpg");
  background-position: 50% 50%;
  margin: 83px 48px 0 auto;
}

.u-section-4 .u-shape-1 {
  width: 210px;
  height: 210px;
  background-image: none;
  margin: -184px 48px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 679px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 674px;
  }

  .u-section-4 .u-image-1 {
    width: 459px;
    height: 459px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-4 .u-shape-1 {
    width: 202px;
    height: 202px;
    margin-top: -135px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 808px;
  }

  .u-section-4 .u-image-1 {
    width: 336px;
    height: 336px;
    margin-top: 85px;
    margin-right: 12px;
  }

  .u-section-4 .u-shape-1 {
    width: 172px;
    height: 172px;
    margin-top: -92px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 496px;
    height: 496px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-4 .u-shape-1 {
    width: 216px;
    height: 216px;
    margin-top: -144px;
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 298px;
  }

  .u-section-4 .u-image-1 {
    width: 292px;
    height: 292px;
  }

  .u-section-4 .u-shape-1 {
    width: 146px;
    height: 146px;
    margin-top: -81px;
    margin-right: 28px;
  }
}@font-face {
  font-family: 'Ailerons-Typeface';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Ailerons-Typeface.otf);
}