.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/bg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1945px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  animation-duration: 1000ms;
  margin: 200px 313px 0 314px;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 1.25rem;
  margin: 58px 409px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 50px auto 0 462px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: -45px auto 0 189px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 11px auto 0 233px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: -45px auto 0 603px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 11px auto 0 214px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: -45px 216px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 26px 459px 0 460px;
}

.u-section-1 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 50px 88px 0 auto;
}

.u-section-1 .u-text-4 {
  animation-duration: 4000ms;
  font-size: 1.25rem;
  margin: 66px auto 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  animation-duration: 1000ms;
  font-size: 1.25rem;
  margin: 84px 694px 0 124px;
}

.u-section-1 .u-text-6 {
  animation-duration: 1000ms;
  font-size: 1.25rem;
  margin: -32px 124px 0 694px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 29px;
}

.u-section-1 .u-video-1 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
  width: 510px;
  margin-left: 1px;
  animation-duration: 1000ms;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 30px 29px;
}

.u-section-1 .u-video-2 {
  height: 340px;
  width: 510px;
  margin: 30px auto 0;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
}

.u-section-1 .u-line-2 {
  left: 0;
  top: 3px;
  transform-origin: center bottom 0px;
  position: absolute;
  height: 399px;
  width: 3px;
}

.u-section-1 .u-group-1 {
  width: 700px;
  min-height: 43px;
  margin: 140px auto 60px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 29px;
  padding-right: 30px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 7px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1798px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 213px;
    margin-left: 214px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 309px;
    margin-right: 309px;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
    margin-left: 362px;
  }

  .u-section-1 .u-btn-2 {
    align-self: center;
    margin-left: 89px;
  }

  .u-section-1 .u-btn-3 {
    align-self: center;
    margin-left: 133px;
  }

  .u-section-1 .u-btn-4 {
    align-self: center;
    margin-left: 503px;
  }

  .u-section-1 .u-btn-5 {
    align-self: center;
    margin-left: 115px;
  }

  .u-section-1 .u-btn-6 {
    align-self: center;
    margin-right: 16px;
    margin-left: 528px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 359px;
    margin-left: 360px;
  }

  .u-section-1 .u-line-1 {
    margin-right: 28px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 116px;
    margin-right: 544px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 75px;
    margin-left: 544px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -32px;
  }

  .u-section-1 .u-video-1 {
    height: 231px;
    width: 410px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-video-2 {
    height: 231px;
    margin-top: 84px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: 84px;
    margin-bottom: 50px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1457px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 103px;
    margin-left: 104px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 199px;
    margin-right: 199px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 137px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 95px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 116px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 299px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 108px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
    margin-left: 316px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 249px;
    margin-left: 250px;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 398px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 398px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 306px;
  }

  .u-section-1 .u-video-1 {
    width: 301px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 306px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 23px;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1964px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 13px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 109px;
    margin-right: 109px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 26px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 26px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 91px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 94px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 69px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 97px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 159px;
    margin-left: 160px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 218px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 218px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-video-1 {
    width: 520px;
    margin-top: -185px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 400px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1975px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.375rem;
    border-style: solid;
    margin-top: 33px;
    margin-left: 123px;
    padding: 10px 0;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.375rem;
    border-style: solid;
    margin-top: -29px;
    margin-left: 30px;
    padding: 10px 0;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.375rem;
    border-style: solid;
    margin-top: 4px;
    margin-left: 161px;
    padding: 10px 0;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.375rem;
    border-style: solid;
    margin-top: -29px;
    margin-left: 49px;
    padding: 10px 0;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.375rem;
    border-style: solid;
    margin-top: 4px;
    margin-left: 149px;
    padding: 10px 0;
  }

  .u-section-1 .u-btn-6 {
    font-size: 0.375rem;
    border-style: solid;
    margin-top: -29px;
    margin-left: 41px;
    padding: 10px 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: 9px;
    margin-right: 59px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-right: 18px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-top: 333px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -365px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 252px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 3px;
  }

  .u-section-1 .u-video-1 {
    height: 180px;
    width: 326px;
    margin-top: 42px;
    margin-right: 2px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 370px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-video-2 {
    height: 174px;
    margin-top: 166px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-line-2 {
    top: 18px;
    transform-origin: left center 0px;
    width: 309px;
    height: 3px;
  }

  .u-section-1 .u-group-1 {
    min-height: 29px;
    margin-top: 41px;
    margin-bottom: 33px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.75rem;
  }
}@font-face {
  font-family: 'Ailerons-Typeface';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Ailerons-Typeface.otf);
}