.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/bg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1945px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 200px 313px 0 314px;
}

.u-section-1 .u-text-2 {
  margin: 58px 409px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: 50px auto 0 462px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: -46px auto 0 189px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: 12px auto 0 233px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: -45px auto 0 603px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: 11px auto 0 215px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: -45px auto 0 628px;
}

.u-section-1 .u-text-3 {
  margin: 26px 459px 0 460px;
}

.u-section-1 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 50px 88px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 66px auto 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 84px 694px 0 124px;
}

.u-section-1 .u-text-6 {
  margin: -32px 124px 0 694px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-video-1 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-1 .u-video-2 {
  height: 340px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
}

.u-section-1 .u-group-1 {
  width: 700px;
  min-height: 49px;
  margin: 140px auto 60px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 29px;
  padding-right: 30px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 7px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2075px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 203px;
    margin-left: auto;
    margin-right: auto;
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 347px;
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
    margin-top: 32px;
    margin-left: 362px;
  }

  .u-section-1 .u-btn-2 {
    align-self: center;
    margin-left: 89px;
  }

  .u-section-1 .u-btn-3 {
    align-self: center;
    margin-left: 133px;
  }

  .u-section-1 .u-btn-4 {
    align-self: center;
    margin-left: 503px;
  }

  .u-section-1 .u-btn-5 {
    align-self: center;
    margin-left: 115px;
  }

  .u-section-1 .u-btn-6 {
    align-self: center;
    margin-left: 528px;
  }

  .u-section-1 .u-text-3 {
    width: 300px;
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-1 {
    margin-top: 66px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 68px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 100px;
    margin-right: 594px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 96px;
    margin-left: 566px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 24px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-group-1 {
    min-height: 60px;
    margin-top: 100px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2210px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 199px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 50px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 138px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -106px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -106px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 138px;
    margin-right: 148px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 66px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 50px;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 187px;
    margin-right: 441px;
    margin-left: 81px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -48px;
    margin-right: 81px;
    margin-left: 441px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-1 .u-group-1 {
    min-height: 81px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 23px;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2772px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 191px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 29px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 51px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 135px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -105px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -105px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 135px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 15px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 31px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 47px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: 198px;
    margin-top: 144px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: 198px;
    margin-top: 508px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -344px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-video-1 {
    width: 520px;
    margin-top: -185px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 400px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-video-2 {
    margin-top: -42px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2392px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 159px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 18px;
    padding: 10px 0;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.625rem;
    margin-top: 90px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.625rem;
    margin-top: -78px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.625rem;
    margin-top: -78px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.625rem;
    margin-top: 90px;
  }

  .u-section-1 .u-btn-6 {
    font-size: 0.625rem;
    margin-top: 6px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 38px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 59px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-top: 28px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 87px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 285px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 10px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 252px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 3px;
  }

  .u-section-1 .u-video-1 {
    height: 188px;
    width: 335px;
    margin-top: -334px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-video-2 {
    height: 190px;
    width: 338px;
    margin-top: -234px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 88px;
    margin-top: -216px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}