.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/bg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1945px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  animation-duration: 1000ms;
  margin: 200px 313px 0 314px;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 58px 409px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 50px auto 0 462px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: -45px auto 0 189px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 11px auto 0 233px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: -45px auto 0 603px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 11px auto 0 212px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: -45px auto 0 628px;
}

.u-section-1 .u-text-3 {
  margin: 26px 459px 0 460px;
}

.u-section-1 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 50px 88px 0 auto;
}

.u-section-1 .u-text-4 {
  animation-duration: 1000ms;
  margin: 66px auto 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  animation-duration: 1000ms;
  margin: 84px 694px 0 124px;
}

.u-section-1 .u-text-6 {
  animation-duration: 1000ms;
  margin: -32px 124px 0 694px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 29px;
}

.u-section-1 .u-video-1 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
  width: 510px;
  margin-left: 1px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-video-2 {
  height: 340px;
  width: 510px;
  margin: -340px auto 0;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 30px 29px;
}

.u-section-1 .u-video-3 {
  height: 340px;
  width: 510px;
  margin: 30px auto 0;
}

.u-section-1 .embed-responsive-3 {
  position: absolute;
}

.u-section-1 .u-line-2 {
  left: 0;
  top: 3px;
  transform-origin: center bottom 0px;
  position: absolute;
  height: 399px;
  width: 3px;
}

.u-section-1 .u-group-1 {
  width: 700px;
  min-height: 49px;
  margin: 140px auto 60px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 29px;
  padding-right: 30px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 12px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1534px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 213px;
    margin-left: 214px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 309px;
    margin-right: 309px;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
    margin-left: 262px;
  }

  .u-section-1 .u-btn-2 {
    align-self: center;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    align-self: center;
    margin-left: 33px;
  }

  .u-section-1 .u-btn-4 {
    align-self: center;
    margin-left: 403px;
  }

  .u-section-1 .u-btn-5 {
    align-self: center;
    margin-left: 12px;
  }

  .u-section-1 .u-btn-6 {
    align-self: center;
    margin-left: 428px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 359px;
    margin-left: 360px;
  }

  .u-section-1 .u-line-1 {
    margin-right: 28px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 594px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 24px;
    margin-left: 594px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-video-1 {
    width: 411px;
    margin-left: 0;
  }

  .u-section-1 .u-video-2 {
    width: 411px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-video-3 {
    width: 411px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1457px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 103px;
    margin-left: 104px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 199px;
    margin-right: 199px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 42px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 208px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 249px;
    margin-left: 250px;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 398px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 398px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-1 .u-video-1 {
    width: 301px;
  }

  .u-section-1 .u-video-2 {
    width: 301px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-1 .u-video-3 {
    width: 301px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 23px;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1964px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 13px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 109px;
    margin-right: 109px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 3px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 28px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 159px;
    margin-left: 160px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 218px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 218px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-video-1 {
    width: 520px;
    margin-top: -185px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 400px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1682px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    padding: 10px 0;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.625rem;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-btn-6 {
    font-size: 0.625rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 59px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 18px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 18px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 252px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 3px;
  }

  .u-section-1 .u-video-1 {
    height: 188px;
    width: 335px;
    margin-top: -334px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}